body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.intro {
    color: ivory;
    font-family: myfont;
    text-align: center;
    font-size:larger;
}


.imdb {
    color: ivory;
    text-align: center;
}

@font-face {
    font-family: myfont;
    src: url(Eat\ Me\ Alive.ttf);
}

button {
    background-color: ivory;
    border: 2px solid lightgreen;
    border-radius: 12px;
    padding: 5px;
}

p {
    color:ivory;
}


#time {
    color: ivory;
}






.creator {
    font-family: myFont;
    color: darkblue;
}


.trey {
    color: rgb(0, 255, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.warning {
    font-family: myFont;
    background-color: red;
    animation-name: warning;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    font-size: larger;
}


@keyframes warning {
    0% {opacity: 100%;}
    50% {opacity: 50%;}
    100% {opacity: 0%;}

}


.contact {
    color: ivory;
    font-family: myfont;
    text-align: center;
    font-size:larger;
}


