
body {
  background-color: #000000;
  overflow: hidden;
  display: flex;
    flex-direction: column;
    align-items: center;
}


@font-face {
    font-family: myfont;
    src: url(Eat\ Me\ Alive.ttf);
}

.wrapper {
  position: absolute;
  top: 100%;
  left: 10%;
  width: 1600px;
  margin-left: -100px;
  font-family: myFont;
  text-align: center;
  color: #fff;
  animation: 20s credits linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.video_title {
  margin-bottom: 50px;
  font-size: 80px;
  text-shadow: 2px 2px #878787;
  letter-spacing: 0px;
  text-outline: #304345;
  text-decoration: none;
}


.person_name {
  margin-bottom: 20px;
  font-size: 50px;
  font-variant: small-caps;
}

@keyframes credits {
  0% {
    top: 50%;
  }
  100% {
    top: -400%;
  }
}


.creator {
    font-family: myFont;
    color: green;
     margin-bottom: 5px;
  font-size: 100px;
}